/* Serif */
.site_content h1,
.site_content h2,
.site_content h3,
.site_content p,
.site_content li,
.site_content table.normal,
.site_content .page_quote .text,
.logs .log
{font-family:georgia, freeserif, serif;font-size:140%;}
.serif {font-family:georgia, freeserif, serif;}


.site_content li{margin:0.5em 0}

.content>p,
.content>div,
.content>table,
.content>.page_quote,
.content>.page_image,
.content>h2,.content>h3,
.content>ul,.content>ol,
.body_limit{max-width:1000px;margin-left:auto;margin-right:auto}
.body_limit.wide{max-width:1600px;margin-top:2em;margin-bottom:2em;}

html, body{margin:0;padding:0;background-color:#fff;font-family:verdana, sans-serif;line-height:1.33}

a, .likea{color:#05c;text-decoration:none;border-bottom:solid 1px #6bf;transition-duration:0.25s;transition-property:color, border-color;}
a:hover,.likea:hover,
.site_content .title .path a.part:hover
{color:#d40;border-bottom-color:#d64}
.likea{color:#059;}

.clouds{position:absolute;width:100%;height:172px;background-image:-webkit-linear-gradient(#81b4d8,#fff);background-image:linear-gradient(#81b4d8,#fff);}
.clouds .cloud{position:absolute;top:0;left:0;width:100%;height:100%;background:url(clouds.png) repeat-x transparent;animation:move_clouds infinite linear;}
.clouds .cloud.yksi{background-position:0 0;opacity:0.5;animation:move_clouds 160s infinite 5s;}
.clouds .cloud.kaksi{background-position:0 -172px;animation:move_clouds 100s infinite;}
.clouds .cloud.kolme{background-position:0 -344px;opacity:0.75;animation:move_clouds 60s infinite;}
.clouds .light{position:absolute;top:0;left:0;width:100%;height:65%;background-image:-webkit-linear-gradient(#369,transparent);background-image:linear-gradient(#369,transparent);opacity:0;animation:light_clouds 360s infinite alternate;}

.head_top{position:relative;z-index:2;margin-bottom:1em;text-align:center;}
.head_top .logo{display:inline-block;width:100%;max-width:236px;height:60px;margin:20px 0 10px 0;background:url(logol.png) no-repeat;background-size:contain;border:none;transition:all 0s;}

.head_top .main_menu{display:block;width:100%;text-align:center}
.head_top .main_menu .menu_items{display:inline-block;padding:0 0.5em;}
.head_top .main_menu .menu_items .menu_item{display:inline-block;padding:0.25em 0.5em;font-size:1.5em;color:#058;text-decoration:none;border-bottom:solid 2px #0ab}
.head_top .main_menu .menu_items a.menu_item:hover{color:#d40;border-bottom:dotted 2px #d64;}
.head_top .main_menu .menu_items span.menu_item.item_current{border-bottom-style:none;}
.head_top .main_menu .menu_items .menu_item.item_current{border-bottom-style:dotted;}

.adv{padding:2em 0;margin-top:2em;text-align:center;overflow:hidden;background-color:#f5f5f5}
.adv a{border:none;}
.adv img{width:100%;}
.adv .body_limit{min-height:90px;margin:0 auto;}

.adv.rtbm, .adv.rtbd{padding:0;background-color:#fff}
.adv #sup a{position:relative;display:inline-block;max-width:900px;min-width:600px;color:#fff;text-align:left;text-decoration:none;border-radius:10px;overflow:hidden;outline:none;user-select:none;}
.adv #sup a i{display:inline-block;width:213px;height:120px;margin-right:1em;vertical-align:top;background:center center no-repeat;background-size:cover;}
.adv #sup a i:after{position:absolute;bottom:0.25em;right:0.5em;content:"ÐœÐ¸ÐºÑ€ÑƒÐ»Ð°";font-style:normal;font-size:0.8em}
.adv #sup a b{display:inline-block;width:calc(100% - 213px - 1em);padding:0.5em;vertical-align:top;font-weight:normal;font-size:32px;box-sizing:border-box;}

.site_content{overflow:hidden;}
.site_content .title{text-align:center}
.site_content .title h1{font-size:2.25em;font-weight:normal;padding:1em 0;margin:0;}

.site_content .title .path{position:relative;top:1.5em;}
.site_content .title .path .part{color:#333;font-size:0.9em;border-color:#aaa;}
.site_content .title .path .delimiter{margin:0 0.5em;font-size:0.9em;color:#ccc;}

.site_content .page_menu{margin-bottom:1.5em}
.site_content .page_menu.body_limit{max-width:720px;}
.site_content .page_menu .page_menu_item{display:list-item;list-style-type:circle;margin:1em 0 1em 1em;}
.site_content .page_menu .description{display:inline;font-size:0.9em;margin-left:0.75em}

.site_content .page_quote{padding:2em 3em 2.5em 2em;background:no-repeat 2em 2.5em #eee;}
.site_content .page_quote.avtor{background-image:url(avtor.jpg)}
.site_content .page_quote.alex{background-image:url(alex.jpg)}
.site_content .page_quote .text{margin-left:80px;padding-left:1em;min-height:80px;}

.site_content .page_image{text-align:center;margin-top:2em;margin-bottom:2em;}
.site_content .page_image img{max-width:100%;}
.site_content .page_image .image_caption{font-size:120%;font-style:italic;margin: 1em 0}

.site_content .page_file{margin: 2em auto;}
.site_content .page_file .extension{display:inline-block;vertical-align:middle;text-transform:uppercase;margin-right:0.75em;padding:0.5em;font-family:monospace;font-size:1.5em;color:#321;background-color:#fc1;box-shadow:3px 3px 0 #444}
.site_content .page_file .info{display:inline-block;vertical-align:middle;}
.site_content .page_file .info .title{text-align:left;font-size:1.4em;}
.site_content .page_file .info .description{color:#000;}

.site_content .content h2{font-size: 1.5em;font-weight: bold;margin-top:1.5em;margin-bottom:1em;}
.site_content .content h3{font-size: 1.5em;font-weight: normal;margin-top:1.5em;margin-bottom:1em;font-style:italic;}
.site_content .content iframe{display:block;margin:0 auto}
.site_content .content>ul,.site_content .content>ol{padding-left:5em}

.site_content .separator:before{content:"â€¢";margin:0 0.5em;font-size:0.9em;color:#ccc;}

.content div.logs,
.logs{max-width:100%}
.logs .form{background-color:#eee;padding:2em 0;margin-bottom:2em}
.logs .form textarea{width:100%;height:7em;}
.logs .form .submit{text-align:center;margin-top:2em;}
.logs .form .submit button{font-size:1.25em}
.logs .log{margin:1.5em 0;}
.logs .log .date{display:inline-block;font-style:italic;font-size:0.8em}
.logs .log .message{display:inline-block;width:100%;}
.logs .log .link{display:inline-block;margin-left:1em;font-size:0.8em;visibility:hidden}
.logs .log:hover .link{visibility:visible}



.footer{padding:1em 0.5em;font-size:0.85em;text-align:center;border-top:solid 0px #ddd;}
.footer .footer_items{display:inline-block;padding:0.5em}
.footer .footer_items .footer_item{display:inline-block;margin:0.5em 1em;white-space:nowrap;}

/* crosswords */
.crossword_sections{}
.crossword_sections .column{display:inline-block;vertical-align:top;padding-bottom:2em;box-sizing:border-box;}
.crossword_sections .column.column1{width:25%;min-width:8em;}
.crossword_sections .column.column2{width:33.3%;min-width:17em;}
.crossword_sections .column.column3{}
.crossword_sections .section{}
.crossword_sections .section.biology{width:100%;}
.crossword_sections .section h2{font-weight:normal;font-size:1.25em;margin:0.5em 0;text-align:left}
.crossword_sections .section .group{}
.crossword_sections .section .group .group_name{font-size:0.9em;color:#999;}
.crossword_sections .section .group .item{margin:0.5em 0;}

.crossword_list{counter-reset:crossnum;}
.crossword_list .item{margin:1em 0 1em 1.5em;counter-increment:crossnum;}
.crossword_list .item:before{position:absolute;display:block;width:2em;margin:0.25em 0 0 -2.75em;font-size:0.8em;text-align:right;content:counter(crossnum) ". ";}
.crossword_list .item .part{}
.crossword_list .item .delimiter{margin:0 0.5em;font-size:0.9em;color:#ccc;}

.test_list .switcher,
.crossword .switcher{text-align:center;margin:1em;}
.test_list .switcher .switch,
.crossword .switcher .switch{display:inline-block;margin:0.25em 0.75em;cursor:pointer;}
.test_list .switcher .switch.on,
.crossword .switcher .switch.on{background-color:#eec;margin:0;padding:0.25em 0.75em;border:none;border-radius:1em;cursor:default;}

.crossword .crossword_image{margin:2em auto;padding-top:2em;padding-bottom:2em;background-color:#eee;text-align:center;}
.crossword .crossword_image img{max-width:100%;}

/* tests */
.test_list .test_sections{}
.test_list .test_sections .section{margin:2em 0;}
.test_list .test_sections .section h2{font-weight:normal;font-size:1.25em;margin:1em 0 0.5em 0;}
.test_list .test_sections .section .column{display:inline-block;width:50%;vertical-align:top}
.test_list .test_sections .section .column .item{margin:1em 0;padding-right:1em;}
.test_list .refs{text-align:right;font-size:0.85em;margin-bottom:1em}
.test_list .refs a{color:#222;border-bottom-color:#ccc;}
.test_list .refs a:hover{color:#c40;border-bottom-color:#d97;}

.rebus_list{}
.rebus_list .column{display:inline-block;width:50%;vertical-align:top}
.rebus_list .column .section{margin-bottom:2em}
.rebus_list .column .section h2{font-weight:normal;font-size:1.25em;margin:1em 0 0.5em 0;}
.rebus_list .column .section .item{margin:0.75em 0;padding-right:1em;}

.site_content table.normal{border-collapse:collapse;margin-top:2em;margin-bottom:2em;font-size:100%;}
.site_content table.normal td{padding:0.5em;vertical-align:top;font-size:120%;}
.site_content table.normal td p,
.site_content table.normal td li
{font-size:100%}
.site_content table.normal td p:first-child{margin-top:0;}
.site_content table.normal thead td{background-color:#9ce}
.site_content table.normal tbody td{border:none;border-bottom:solid 1px #ccc}

/* guide */
.guide{}

.guide .tags{}
.guide .tags .tag{display:inline-block;width:20%;margin:0.5em 0;border-right:solid #fff 0.5em;box-sizing:border-box;text-overflow:ellipsis;overflow:hidden;}
.guide .tags .tag.tag_main{font-style:italic;}
.guide .tags .tag.selected{display:none;}
.guide .tags .tag .name{white-space:nowrap;cursor:pointer;color:#000;border-bottom:dotted #666 1px}
.guide .tags .tag .name:hover{color:#d40;border-bottom-color:#d40}

.guide .results .result_stat{position:relative;margin:2em 0;text-align:center;}
.guide .results .result_stat .tag_filter{font-size:0.85em;background-color:#fff;padding:0 0.5em;}
.guide .results .result_stat .tag_filter:before{position:absolute;width:100%;top:50%;left:0;border-bottom:dotted 1px #ccc;content:"";}
.guide .results .result_stat .tag_filter .filter_tag{position:relative;display:inline-block;border:solid 0.5em #fff;padding:0.5em 1em;background-color:#eec;border-radius:1em;cursor:pointer;white-space:nowrap;}
.guide .results .result_stat .tag_filter .filter_tag:hover{background-color:#fec;}
.guide .results .result_stat .tag_filter .filter_tag:after{position:absolute;content: "Ã—";font-size:0.8em;margin-left:0.15em;margin-top:-0.5em;color:#777;visibility:hidden;}
.guide .results .result_stat .tag_filter .filter_tag:hover:after{visibility:visible;}

.guide .results .section{font-size:1.75em;margin:1em 0;text-align:center;display:none;}
.guide .results .result_link{display:inline-block;width:100%;padding-right:1em;vertical-align:top;line-height:2;box-sizing:border-box;}
.guide .results .result_link .result_more{margin-left:0.5em;color:#aaa;}

/* home */


/* srv */
.hidden{display:none!important}
.dlink{border-bottom-style:dotted;}
.noscroll{overflow:hidden;}
.smallcaps{text-transform: uppercase;letter-spacing:0.66em;font-size:60%;line-height: 2;}

@-webkit-keyframes move_clouds	{0%{background-position-x:0} 100%{background-position-x:1024px}}
@keyframes move_clouds			{0%{background-position-x:0} 100%{background-position-x:1024px}}

@-webkit-keyframes light_clouds	{0%{opacity:0} 50%{opacity:0} 100%{opacity:0.7}}
@keyframes light_clouds			{0%{opacity:0} 50%{opacity:0} 100%{opacity:0.7}}

@media screen and (max-width:1028px){
	.site_content .content{padding-left:4%;padding-right:4%;}
}

@media screen and (max-width:900px){
	.guide .tags .tag{width:25%;}
}

@media screen and (max-width:800px){
	.guide .tags .tag{width:33.33333%;}
}

@media screen and (max-width:680px){
	.site_content h1,
	.site_content h2,
	.site_content h3,
	.site_content p,
	.site_content li,
	.site_content table.normal,
	.site_content .page_quote .text,
	.logs .log
	{font-size:120%;}

	.rebus_list .column,
	.test_sections .column,
	.crossword_sections .column{width:auto!important;min-width:auto!important;padding-right:1em;}
	.crossword_sections .section .group .item{display:inline-block;white-space:nowrap;margin:0.25em 1.5em 0.25em 0;}
	
	.site_content .title h1{font-size:1.75em;}
	.site_content .page_quote{padding:1em;background:no-repeat center 1.5em #eee;}
	.site_content .page_quote .text{margin:80px 0 0 0;padding:1em 0 0 0;min-height:auto;}
	.site_content .content>ul,.site_content .content>ol{padding-left:1.5em}

	.guide .tags .tag{width:50%;}

	.guide .results .result_link{width:100%}

	.adv{padding:1em 0;margin-top:1em;}
	.adv #sup a b{font-size:28px;}
}

@media screen and (max-width:640px){
	.adv #sup a{display:block;width:100%;min-width:100%;border-radius:0}
}

@media screen and (max-width:580px){
	.adv #sup a b{font-size:24px;font-weight:bold;}
}

@media screen and (max-width:500px){
	.adv #sup a b{font-size:18px;font-weight:bold;}
}

@media screen and (max-width:480px){
	.adv #sup a i{display:block;width:100%;height:160px;margin:0;}
	.adv #sup a b{display:block;width:100%;padding-bottom:1em;}
}
